/* barra de progreso */

.progress {
    height: 1.5rem;
}


/* modal */

.modal-backdrop {
    background-color: rgb(92, 75, 0);
    filter: 'blur(4px)' !important;
    -webkit-filter: 'blur(4px)' !important;
}

.modal-content {
    background-color: #0c0800e8;
    color: white;
}

body {
    
    color: white;
    background: #0c0800 url(../img/bg.png) repeat 0 0;
    -webkit-animation: 50s linear 0s normal none infinite animacionFondo;
    -moz-animation: 50s linear 0s normal none infinite animacionFondo;
    -ms-animation: 50s linear 0s normal none infinite animacionFondo;
    -o-animation: 50s linear 0s normal none infinite animacionFondo;
    animation: 50s linear 0s normal none infinite animacionFondo;
    
}


/* animacion */
.row{
    animation: 1s ease-out 0s 1 deslizarDerecha;
}
@keyframes deslizarDerecha {
    0% {
        opacity: 0;
      transform: translateX(-100%);
    }
    100% {
        opacity: 1;
      transform: translateX(0);
    }
  }

@-webkit-keyframes animacionFondo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 0;
    }
}

@-moz-keyframes animacionFondo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 0;
    }
}

@-ms-keyframes animacionFondo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 0;
    }
}

@-o-keyframes animacionFondo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 0;
    }
}

@keyframes animacionFondo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 0;
    }
}

nav {
    background-color: rgb(172, 175, 10);
}


/* se aplica a todas las listas y links */

ul {
    padding: 0;
    list-style-type: none;
}

a:hover {
    color: rgb(119, 90, 221);
}




/* carousel fondo*/
.carousel-caption {
    background-color: #0c0800c5;
}




.list-group-item {
    background-color: #00000079;
}


/* Ken Burns Effect  Ejemplo de clase*/

.item-image {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    transform: scale(1.2);
    animation-name: movimiento;
}

@keyframes movimiento {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        transform: scale3d(1.2, 1.2, 1.2) translate3d(69px, -2px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1.7, 1.7, 1.7) translate3d(-11px, -12px, 0px);
        opacity: 0;
    }
}
/* botones */
.btn {
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05rem;
    font-size: 18px;
}

.btn:focus {
    outline: 2px dotted #dadc55;
}
/* animacion de los botones */
.draw-border {
    box-shadow: inset 0 0 0 4px #c5ae29;
    color: #d1cf58;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #fff12a;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #f8ff93;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}


/* animacion del dropdown */

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 500px;
    opacity: 1;
}


/* FOOTER */

footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

footer hr.small {
    margin: 20px 0
}

footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

footer a {
    color: #737373;
}

footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

footer-links {
    padding-left: 0;
    list-style: none
}

footer-links li {
    display: block
}

footer-links a {
    color: #737373
}

footer-links a:active,
footer-links a:focus,
footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

footer-links.inline li {
    display: inline-block
}

footer .social-icons {
    text-align: right
}

footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

@media (max-width:991px) {
    footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    footer {
        padding-bottom: 0
    }
    footer .copyright-text,
    footer .social-icons {
        text-align: center
    }
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/* estilos barra de scroll*/

.scroll_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: rgba(85, 85, 85, 0.555);
}

.scroll_bar::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(85, 85, 85, 0.555);
}

.scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #186396;
}


/* Caja de comentarios*/
.titleBox {
    background-color:#5e5e5e77;
    padding:10px;
    margin-top: 20px;
    color: whitesmoke;
}
.titleBox label{
  color:rgb(219, 219, 219);
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:0px;
    
    color:white;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
Background-color: #1b1b1b85 !important;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
   background-color: #0c08007c;
    padding:10px;
}
/* links */
li a {
	position: relative;
	display: inline-block;
	
	outline: none;
	color: rgb(255, 255, 255) ;
	text-decoration: none;
	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* efecto que modifica los bordes de los links de artistas */
.bordesartistas a {
	padding: 12px 10px 10px;
	
	text-shadow: none;
    font-weight: 700;
    color: rgb(175, 175, 175) ;
}

.bordesartistas a::before,
.bordesartistas a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #566473;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.bordesartistas a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.bordesartistas a:hover::before,
.bordesartistas a:hover::after,
.bordesartistas a:focus::before,
.bordesartistas a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.bordesartistas a:hover::after,
.bordesartistas a:focus::after {
	top: 0%;
	opacity: 1;
}
/* efecto de nav bar */

.navbarbaranimacion a::before,
.navbarbaranimacion a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.navbarbaranimacion a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.navbarbaranimacion a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.navbarbaranimacion a:hover::before,
.navbarbaranimacion a:hover::after,
.navbarbaranimacion a:focus::before,
.navbarbaranimacion a:focus::after {
	opacity: 1;
}

.navbarbaranimacion a:hover::before,
.navbarbaranimacion a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.navbarbaranimacion a:hover::after,
.navbarbaranimacion a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

/* Hover animacion */
.hoveranimated {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hoveranimated:hover, .hoveranimated:focus, .hoveranimated:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }